<div class="home">
    <div class="home-card">
        <div class="layui-card">
            <div class="layui-card-header">历史访问次数</div>
            <div class="layui-card-body">
                历史访问次数：<%= result %>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">用户总数</div>
            <div class="layui-card-body">
                用户总数：<%= result %>
            </div>
        </div>
    </div>
</div>