<div class="home">
    <div class="home-card">
        <div class="layui-card">
            <div class="layui-card-header">历史访问次数 <i class="layui-icon layui-icon-log"></i></div>
            <div class="layui-card-body">
                历史访问次数：<%= result %>
            </div>
        </div>
    </div>
</div>