<div class="handleArticle">
    <form class="layui-form" action="">
        <div class="layui-form-item" style="display: none;">
            <label class="layui-form-label">id</label>
            <div class="layui-input-block ">
                <input type="text" name="id" value="<%= result.id %>" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block handleArticle-title">
                <input type="text" name="userName" value="<%= result.name %>" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类别</label>
            <div class="layui-input-block">
              <select name="sort" lay-filter="sort">
                <option value=""></option>
                <option value="1">一些笔记</option>
                <option value="2">一些杂文</option>
              </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-mdeditor">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <div id="test-editor">
                    <textarea style="display:none;"></textarea>
                </div>
                <script src="/jquery/jquery-3.4.1.min.js"></script>
                <script src="/editor.md-master/editormd.min.js"></script>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("test-editor", {
                            width  : "100%",
                            height : "100%",
                            path   : "/editor.md-master/lib/"
                        });
                    });
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit lay-filter="handleArticleSave">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>