<div class="header">
    <div class="header-left"><span>博客管理系统</span></div>
    <div class="header-right">Welcome：<%= user %>
    &nbsp;&nbsp;&nbsp;
    <span class="header-exit">退出<span></div>
</div>
