<ul class="layui-nav layui-nav-tree" lay-filter="leftNavbar">
    <li class="layui-nav-item layui-nav-itemed">
        <a <% if(locals.page == "home"){ %>
            class="layui-this"
        <% } %> href="/home">首页</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:void(0);">测试项</a>
        <dl class="layui-nav-child">
            <dd <% if(locals.page == "test1"){ %>
                class="layui-this"
            <% } %> ><a href="/test1">选项1</a></dd>
            <dd <% if(locals.page == "test2"){ %>
                class="layui-this"
            <% } %> ><a href="/test2">选项2</a></dd>
        </dl>
    </li>
</ul>