.handleArticle{
    height: 100%;
    overflow: auto;
}
.handleArticle .layui-form{
    height: calc(100% - 50px);
    width: 90%;
    padding-top: 50px;
}
.handleArticle .layui-form-select{
    width: 500px;
}
.layui-form-mdeditor{
    height: calc(100% - 200px);
}
.layui-form-mdeditor .layui-input-block{
    height: 100%;
}
.handleArticle-title{
    width: 500px;
}
/* layui和editor冲突 */
.handleArticle ol>li{
    list-style: decimal;
}
.handleArticle ul>li{
    list-style: disc;
}

.articleList{
    height: calc(100% - 40px);
    padding: 20px 20px;
}
.articleListSearch{
    height: 60px;
}
.articleListTableDiv{
    height: calc(100% - 140px);
}
.articleListSearch{
    display: flex;
}
.articleList .layui-form-item button{
    margin-left: 50px;
}

.articleSort{
    height: calc(100% - 50px);
    padding: 50px 20px 0 20px;
}
.articleSort i{
    color: #FF5722;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

}
.articleSort-item{
    position: relative;
    width: 100px;
    height: 40px;
    float: left;
    background-color: #009688;
    border-radius: 10px;
    margin-right: 30px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-bottom: 20px;
}
.addSort{
    cursor: pointer;
}
#addsortInput{
    width: 90%;
    margin: 10px auto;
}