.handleArticle{
    height: 100%;
    overflow: auto;
}
.handleArticle .layui-form{
    height: calc(100% - 50px);
    width: 90%;
    padding-top: 50px;
}
.handleArticle .layui-form-select{
    width: 500px;
}
.layui-form-mdeditor{
    height: calc(100% - 200px);
}
.layui-form-mdeditor .layui-input-block{
    height: 100%;
}
.handleArticle-title{
    width: 500px;
}
/* layui和editor冲突 */
.handleArticle ol>li{
    list-style: decimal;
}
.handleArticle ul>li{
    list-style: disc;
}

.articleList{
    height: calc(100% - 40px);
    padding: 20px 20px;
}
.articleListSearch{
    height: 60px;
}
.articleListTableDiv{
    height: calc(100% - 140px);
}
.articleListSearch{
    display: flex;
}
.articleList .layui-form-item button{
    margin-left: 50px;
}