html,body{
    height: 100%;
    color: #343434;
    box-sizing: border-box;
}
.home{
    height: 100%;
}
.home-top{
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    background: #409eff;
    color: white;
}
.home-bottom{
    height: calc(100% - 80px);
}
.home-navbar{
    width: 300px;
    height: 100%;
    float: left;
}
.home-content{
    width: calc(100% - 300px);
    height: 100%;
    float: left;
}
.home .layui-nav-tree{
    width: 100%;
    height: 100%;
}
.home-navbar a{
    text-align: center;
}