.home{
    height: 100%;
    overflow: auto;
}
.home-card{
    width: 98%;
    padding: 20px 20px;
}
.home .layui-card{
    float: left;
    width: 200px;
    margin-right: 20px;
}
.home .layui-card-header{
    border-top: 1px solid #f6f6f6;
}